<div class="container color-dark">
  <div class="col">
    <p class="heading">
      Login to Battleship
    </p>
  </div>
  <div class="col">
    <p class="heading">
      Top 5 highscores
    </p>
  </div>
</div>

<div class="container color-light" [@highscores]="highscores.length">
  <div class="col">
    <form>
      <p class="sm">Username:</p>
      <input type="text" class="txt" name="username" placeholder="e.g. s123456" [(ngModel)]="loginusername" />
      <p class="sm">Password:</p>
      <input type="text" class="txt" name="password" placeholder="e.g. password" [(ngModel)]="loginpassword" />
      <input type="submit" class="btn" [value]="btnText" (click)="login()"/>
    </form>
    <p>{{ loginText }}</p>
  </div>
  <div class="col">
    <p class="life-container" *ngFor="let highscore of highscores, let i = index">
      {{ highscore }}
    </p>
  </div>
</div>
